@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: lightgray;
    padding: 5px 5%;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li {
    list-style: none;
    display: inline-block;
}
.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon {
    margin-left: 30px;
    margin-top: 5px;
}
.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img {
    width: 18px;
}
.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;    
    border: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70%;
    align-self: flex-start;
    height: 100vh;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #424242;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
}
.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid grey;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
#inputField {
    width: 100px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}